<div class="example-container">
    <app-back-button></app-back-button>
    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;"
        (click)="validator.valid()&&clientService.updateClient(convertToClient())"
        *ngIf="state=='update'">{{'UPDATE'|translate}}</button>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;"
        (click)="validator.valid()&&clientService.createClient(convertToClient())"
        *ngIf="state=='create'">{{'CREATE'|translate}}</button>
</div>