<div class="example-container">
    <button [routerLink]="'/dashboard/products'" [queryParams]="{state: 'none'}" mat-button
        style="text-align: left;padding-left: 0px;margin-bottom: 10px;">
        <mat-icon>arrow_back_ios</mat-icon> <span style="font-size: 16px;">Back</span>
    </button>

    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <h3>Product Image Urls</h3>
    <lib-factory [formId]="imageFormId" [formInfo]="imageFormInfo"></lib-factory>
    <h3>Product Option(s)</h3>
    <lib-factory [formId]="optionFormId" [formInfo]="optionFormInfo"></lib-factory>
    <button mat-raised-button color="primary" *ngIf="state==='update'" style="margin-bottom: 20px;margin-top: 20px;"
        (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.update(convertToPayload())">Update</button>
    <button mat-raised-button color="warn" *ngIf="state==='update'" style="margin-bottom: 40px;"
        (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.delete(convertToPayload())">Delete</button>
    <button mat-raised-button color="primary" style="margin-top: 24px;" (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.create(convertToPayload())"
        *ngIf="state=='create'">Create</button>
</div>