<div class="example-container" [formGroup]="productForm">
    <button [routerLink]="'/dashboard/products'" [queryParams]="{state: 'none'}" mat-button
        style="text-align: left;padding-left: 0px;margin-bottom: 10px;">
        <mat-icon>arrow_back_ios</mat-icon> <span style="font-size: 16px;">Back</span>
    </button>
    <mat-form-field>
        <input matInput placeholder="*Enter Category" formControlName="category">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="*Enter Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="*Enter Price" formControlName="price">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter Cover Image Url" formControlName="imageUrlSmall">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter Description" formControlName="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter Sales" formControlName="sales">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter Rate" formControlName="rate">
    </mat-form-field>
    <section style="display: flex;flex-direction: column;">
        <h3>Product Storage</h3>
        <mat-form-field *ngIf="state==='create'">
            <input matInput placeholder="*Enter Initial Storage" formControlName="storage">
        </mat-form-field>
        <mat-form-field *ngIf="state==='update'">
            <input matInput placeholder="Enter increase amount" formControlName="increaseStorageBy">
        </mat-form-field>
        <mat-form-field *ngIf="state==='update'">
            <input matInput placeholder="Enter decrease amount" formControlName="decreaseStorageBy">
        </mat-form-field>
    </section>
    <section>
        <h3>Product Image Urls</h3>
        <div *ngFor="let i of imagesUrlLargeCtrls" style="display: flex;flex-direction: row;">
            <mat-form-field>
                <input matInput placeholder="Enter Image Urls" [formControlName]="i">
            </mat-form-field>
            <div class="centered" style="padding-left: 8px; margin-bottom: 10px;">
                <mat-icon (click)="removeCtrl(i)">delete</mat-icon>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addNewCtrl()">
            <mat-icon style="margin-bottom: 3px;margin-right: 5px;">add</mat-icon>
            Add Large Image Url
        </button>
    </section>
    <section>
        <h3>Product Option(s)</h3>
        <div *ngFor="let i of optionCtrls" style="margin-bottom: 36px;">
                <div style="display: flex;flex-direction: row;">
                    <mat-form-field>
                        <input matInput placeholder="Enter Option Title" [formControlName]="i">
                    </mat-form-field>
                    <div class="centered" style="padding-left: 8px; margin-bottom: 10px;">
                        <mat-icon (click)="removeOptionCtrl(i)">delete_forever</mat-icon>
                    </div>
                </div>
                <div *ngFor="let el of getRelated(optionValueCtrls,i)" style="display: flex;flex-direction: row;">
                    <mat-form-field style="margin-right: 16px;">
                        <input matInput placeholder="Enter Option Value" [formControlName]="el">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Enter Changed Price" [formControlName]="el+'_value'">
                    </mat-form-field>
                    <div class="centered" style="padding-left: 8px; margin-bottom: 10px;">
                        <mat-icon (click)="removeOptionValueCtrl(el)">delete</mat-icon>
                    </div>
                </div>
                <button mat-raised-button color="accent" (click)="addOptionValueNewCtrl(i)">
                    <mat-icon style="margin-bottom: 3px;margin-right: 5px;">add</mat-icon>
                    Add Product Value
                </button>

        </div>
        <button mat-raised-button color="primary" (click)="addOptionNewCtrl()">
            <mat-icon style="margin-bottom: 3px;margin-right: 5px;">add</mat-icon>Add Product Option
        </button>
    </section>
    <button mat-raised-button color="primary" *ngIf="state==='update'" style="margin-bottom: 20px;margin-top: 20px;"
        (click)="productSvc.update(convertToPayload(productForm))">Update</button>
    <button mat-raised-button color="warn" *ngIf="state==='update'" style="margin-bottom: 40px;"
        (click)="productSvc.delete(convertToPayload(productForm))">Delete</button>
    <button mat-raised-button color="primary" style="margin-top: 24px;"
        (click)="productSvc.create(convertToPayload(productForm))" *ngIf="state=='create'">Create</button>
</div>