<h2 class="flex-row-space-between">{{'MALL_CENTER' |translate}} / {{'ATTRIBUTE_DASHBOARD' |translate}}  <button mat-raised-button color="primary" (click)="openBottomSheet()">{{'ADD'|translate}}</button></h2>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'FILTER'|translate}}">
</mat-form-field>

<div class="mat-elevation-z8">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="name"　sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME'|translate}}</th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'DESCRIPTION'|translate}}</th>
                <td mat-cell *matCellDef="let row"> {{row.description|translate}} </td>
            </ng-container>
    
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'VALUE'|translate}}</th>
                <td mat-cell *matCellDef="let row"> {{row.selectValues}} </td>
            </ng-container>
    
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TYPE'|translate}}</th>
                <td mat-cell *matCellDef="let row"> {{row.type|translate}} </td>
            </ng-container>
    
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="padding-left: 20px;">{{'EDIT'|translate}}</th>
                <td mat-cell *matCellDef="let row">
                    <button (click)="openBottomSheet(row.id)" mat-button>
                        <mat-icon [color]="'primary'">edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style="padding-left: 20px;">{{'DELETE'|translate}}</th>
                <td mat-cell *matCellDef="let row">
                    <button (click)="attrSvc.delete(row.id)" mat-button>
                        <mat-icon [color]="'warn'">delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [showFirstLastButtons]="true" [pageIndex]="attrSvc.currentPageIndex" [pageSize]="deviceSvc.pageSize" (page)="pageHandler($event)">
    </mat-paginator>
</div>