<h2 *ngIf="catalogType==='frontend'" class="flex-row-space-between">{{'MALL_CENTER' |translate}} / {{'CATEGORY_DASHBOARD'|translate}} <button mat-raised-button color="primary" (click)="openBottomSheet()">{{'ADD'|translate}}</button></h2>
<h2 *ngIf="catalogType==='backend'" class="flex-row-space-between">{{'MALL_CENTER' |translate}} / {{'CATEGORY_ADMIN_DASHBOARD'|translate}} <button mat-raised-button color="primary" (click)="openBottomSheet()">{{'ADD'|translate}}</button></h2>
<lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
<ng-container *ngIf="viewType==='LIST_VIEW'">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'FILTER'|translate}}">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="name" 　sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME' |translate}}</th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <ng-container matColumnDef="parentId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PARENT_ID' |translate}}</th>
                    <td mat-cell *matCellDef="let row"> {{getParenteName(row.parentId)}} </td>
                </ng-container>

                <ng-container matColumnDef="attributes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'ATTRIBUTES' |translate}}</th>
                    <td mat-cell *matCellDef="let row"> {{row.attributes}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef style="padding-left: 20px;">{{'EDIT'|translate}}</th>
                    <td mat-cell *matCellDef="let row">
                        <button (click)="openBottomSheet(row.id)" mat-button>
                            <mat-icon [color]="'primary'">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef style="padding-left: 20px;">{{'DELETE'|translate}}</th>
                    <td mat-cell *matCellDef="let row">
                        <button (click)="catalogSvc.delete(row.id)" mat-button>
                            <mat-icon [color]="'warn'">delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [pageIndex]="catalogSvc.currentPageIndex" [showFirstLastButtons]="true"
            [pageSizeOptions]="[(deviceSvc.pageSize - pageSizeOffset)>0?(deviceSvc.pageSize - pageSizeOffset):1 ]"
            (page)="pageHandler($event)">
        </mat-paginator>
    </div>
</ng-container>
<div *ngIf="viewType==='TREE_VIEW'">
    <app-catalog-tree [catalogs]="catalogsData" (leafNodeClicked)="navCatalog($event)"
        (nonLeafNodeClicked)="navCatalog($event)"></app-catalog-tree>
</div>