<div class="example-container">
    <mat-icon style="text-align: right;padding-top: 8px;cursor: pointer;" (click)="dismiss($event)">close</mat-icon>
    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <lib-factory *ngIf="manualEnter" [formId]="formIdAttrValue" [formInfo]="formInfoAttrValue"></lib-factory>
    <button mat-raised-button color="primary" *ngIf="attribute" style="margin-bottom: 20px;margin-top: 20px;"
        (click)="validator.valid()&&attributeSvc.update(convertToPayload())">{{'UPDATE'|translate}}</button>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;"
        (click)="validator.valid()&&attributeSvc.create(convertToPayload())"
        *ngIf="!attribute">{{'CREATE'|translate}}</button>
</div>