<h2 class="flex-row-space-between">{{'AUTH_CENTER' |translate}} / {{'CLIENT_DASHBOARD'|translate}}<button
        mat-raised-button color="primary" (click)="openBottomSheet()">{{'ADD'|translate}}</button></h2>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'FILTER'|translate}}">
</mat-form-field>

<div class="mat-elevation-z8">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="updateTable($event)">

            <ng-container matColumnDef="id" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CLIENT_ID'|translate}} </th>
                <td mat-cell *matCellDef="let row">
                    <app-copy-field [inputValue]="row.id"></app-copy-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> {{'DESCRIPTION'|translate}} </th>
                <td mat-cell *matCellDef="let row">
                    <app-editable-field [inputValue]="row.description" (newValue)="doPatchDesc(row.id,$event)">
                    </app-editable-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'NAME'|translate}} </th>
                <td mat-cell *matCellDef="let row">
                    <app-editable-field [inputValue]="row.name" (newValue)="doPatchName(row.id,$event)">
                    </app-editable-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="resourceIndicator">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'RESOURCE_INDICATOR'|translate}} </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="row.resourceIndicator" [color]="'primary'">
                        check_circle_outline
                    </mat-icon>
                    <mat-icon *ngIf="!row.resourceIndicator" [color]="'primary'">cancel
                    </mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="grantTypeEnums">
                <th mat-header-cell *matHeaderCellDef> {{'GRANTTYPE_ENUMS'|translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.grantTypeEnums}} </td>
            </ng-container>

            <ng-container matColumnDef="accessTokenValiditySeconds">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ACCESS_TOKEN_VALIDITY_SECONDS'|translate}}
                </th>
                <td mat-cell *matCellDef="let row"> {{row.accessTokenValiditySeconds}} </td>
            </ng-container>

            <ng-container matColumnDef="grantedAuthorities">
                <th mat-header-cell *matHeaderCellDef> {{'GRANTED_AUTHORITIES'|translate}} </th>
                <td mat-cell *matCellDef="let row"> {{parseAuthority(row.grantedAuthorities)}} </td>
            </ng-container>

            <ng-container matColumnDef="resourceIds">
                <th mat-header-cell *matHeaderCellDef> {{'RESOURCEIDS'|translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.resourceIds}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="table-icon">{{'EDIT'|translate}}</th>
                <td mat-cell *matCellDef="let row" class="table-icon">
                    <mat-icon (click)="openBottomSheet(row.id)" [color]="'primary'">edit</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="token">
                <th mat-header-cell *matHeaderCellDef class="table-icon">{{'REVOKE_TOKEN'|translate}}</th>
                <td mat-cell *matCellDef="let row" class="table-icon" style="text-align: center;">
                    <mat-icon (click)="revokeClientToken(row.clientId)" [color]="'accent'">remove_circle</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="table-icon">{{'DELETE'|translate}}</th>
                <td mat-cell *matCellDef="let row" class="table-icon">
                    <mat-icon (click)="clientService.delete(row.id)" [color]="'warn'">delete_outline</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [showFirstLastButtons]="true" [length]="totoalItemCount"
        [pageIndex]="clientService.currentPageIndex" [pageSize]="deviceSvc.pageSize" (page)="pageHandler($event)">
    </mat-paginator>
</div>