<div class="example-container">
    <app-back-button></app-back-button>
    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <lib-factory *ngIf="attrList" [formId]="attrFormId" [formInfo]="attrFormInfo"></lib-factory>
    <button mat-raised-button color="primary" *ngIf="state==='update'" style="margin-bottom: 20px;margin-top: 20px;"
        (click)="categorySvc.update(convertToCategoryPayload())">{{'UPDATE'|translate}}</button>
    <button mat-raised-button color="warn" *ngIf="state==='update'"
        (click)="categorySvc.delete(convertToCategoryPayload())">{{'DELETE'|translate}}</button>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;"
        (click)="categorySvc.create(convertToCategoryPayload())"
        *ngIf="state=='create'">{{'CREATE'|translate}}</button>
</div>