<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar" style="justify-content: space-between;" [style.height.px]="deviceSvc.topBar">
        <button mat-icon-button (click)="snav.toggle();">
            <mat-icon>{{snav.opened?'menu_open':'menu'}}</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? deviceSvc.topBar : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [opened]="navExpand('side_bar')" (opened)="openedHandler('side_bar')" (closed)="closedHander('side_bar')"
            fixedTopGap="deviceSvc.topBar" style="width: 256px;">
            <mat-expansion-panel (opened)="openedHandler('auth_nav')" (closed)="closedHander('auth_nav')" [expanded]="navExpand('auth_nav')">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 600;">
                        {{'AUTH_CENTER'| translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active" style="font-size: 14px;"
                        [queryParams]="nav.params" *ngFor="let nav of menuAuth">
                        <mat-icon style="padding-right:8px;">{{nav.icon}}</mat-icon>{{nav.display| translate}}
                    </mat-list-item>
                </mat-nav-list>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="openedHandler('user_nav')" (closed)="closedHander('user_nav')" [expanded]="navExpand('user_nav')">
                <mat-expansion-panel-header >
                    <mat-panel-title style="font-weight: 600;">
                        {{'USER_CENTER'| translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active" style="font-size: 14px;"
                        [queryParams]="nav.params" *ngFor="let nav of menuUser">
                        <mat-icon style="padding-right:8px">{{nav.icon}}</mat-icon>{{nav.display| translate}}
                    </mat-list-item>
                </mat-nav-list>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="openedHandler('mall_nav')" (closed)="closedHander('mall_nav')" [expanded]="navExpand('mall_nav')">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 600;">
                        {{'MALL_CENTER'| translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active" style="font-size: 14px;"
                        [queryParams]="nav.params" *ngFor="let nav of menuMall">
                        <mat-icon style="padding-right:8px">{{nav.icon}}</mat-icon>{{nav.display | translate}}
                    </mat-list-item>
                </mat-nav-list>

            </mat-expansion-panel>
            <mat-expansion-panel (opened)="openedHandler('bbs_nav')" (closed)="closedHander('bbs_nav')" [expanded]="navExpand('bbs_nav')">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 600;">
                        {{'BBS_CENTER'| translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active" style="font-size: 14px;"
                        [queryParams]="nav.params" *ngFor="let nav of menuBbs">
                        <mat-icon style="padding-right:8px">{{nav.icon}}</mat-icon>{{nav.display | translate}}
                    </mat-list-item>
                </mat-nav-list>

            </mat-expansion-panel>
            <mat-nav-list>
                <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active" style="font-size: 14px;"
                    [queryParams]="nav.params" *ngFor="let nav of menuMisc">
                    <mat-icon style="padding-right:8px">{{nav.icon}}</mat-icon>{{nav.display| translate}}
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content [style.padding-left.px]="mobileQuery.matches ? 15 : 30"
            [style.padding-right.px]="mobileQuery.matches ? 15 : 30">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>