<form class="example-container" [formGroup]="options">
    <mat-form-field>
        <mat-label>{{'SELECT_A_SEARCH_TYPE'|translate}}</mat-label>
        <mat-select [formControl]="searchTypeCtrl">
            <mat-option value="byId">{{'SEARCH_BY_ID'|translate}}</mat-option>
            <mat-option value="byName">{{'SEARCH_BY_NAME'|translate}}</mat-option>
            <mat-option value="byAttr">{{'SEARCH_BY_ATTRIBUTES'|translate}}</mat-option>
            <mat-option value="byCatalogFront">{{'SEARCH_BY_CATALOG_FRONT'|translate}}</mat-option>
            <mat-option value="byCatalogBack">{{'SEARCH_BY_CATALOG_BACK'|translate}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="searchTypeCtrl.value==='byId'" style="display: flex;flex-direction: row;">
        <mat-form-field>
            <mat-label>{{'ENTER_ID'|translate}}</mat-label>
            <input matInput type="text" [formControl]="searchByIdCtrl">
        </mat-form-field>
        <button mat-raised-button color="primary" style="height: 36px; margin-left: 24px;"
            (click)="appendId()">{{'ADD'|translate}}</button>
    </div>
    <div *ngIf="searchTypeCtrl.value==='byName'" style="display: flex;flex-direction: row;">
        <mat-form-field>
            <mat-label>{{'ENTER_NAME'|translate}}</mat-label>
            <input matInput type="text" [formControl]="searchByNameCtrl">
        </mat-form-field>
    </div>
    <ng-container *ngIf="searchTypeCtrl.value==='byCatalogFront'">
        <app-catalog-tree [catalogs]="catalogsDataFront" (leafNodeClicked)="searchWithTags($event)"
            style="max-height: 240px;display: block;overflow-y: auto;" (nonLeafNodeClicked)="searchWithTags($event)">
        </app-catalog-tree>
    </ng-container>
    <ng-container *ngIf="searchTypeCtrl.value==='byCatalogBack'">
        <app-catalog-tree [catalogs]="catalogsDataBack" (leafNodeClicked)="searchWithTags($event)"
            style="max-height: 240px;display: block;overflow-y: auto;" (nonLeafNodeClicked)="searchWithTags($event)">
        </app-catalog-tree>
    </ng-container>
    <div *ngIf="searchTypeCtrl.value==='byAttr'" style="display: flex;flex-direction: row;">
        <mat-form-field>
            <mat-label>{{'SELECT_AN_ATTRIBUTE'|translate}}</mat-label>
            <mat-select [formControl]="searchByAttr">
                <ng-container *ngFor="let e of bizAttr">
                    <mat-option [value]="e">{{e.name}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="(searchByAttr.value)&& searchByAttr.value.method=='SELECT'">
            <mat-label>{{'SELECT_AN_ATTRIBUTE_VALUE'|translate}}</mat-label>
            <mat-select [formControl]="searchByAttrSelect">
                <ng-container *ngFor="let e of searchByAttr.value.selectValues">
                    <mat-option [value]="e">{{e}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="(searchByAttr.value)&& searchByAttr.value.method=='MANUAL'">
            <mat-label>{{'ENTER_AN_ATTRIBUTE_VALUE'|translate}}</mat-label>
            <input matInput type="text" [formControl]="searchByAttrManual">
        </mat-form-field>
        <button mat-raised-button color="primary" style="height: 36px; margin-left: 24px;"
            (click)="appendAttr()">{{'ADD'|translate}}</button>
    </div>
    <mat-form-field>
        <mat-label>{{'SEARCH'|translate}}</mat-label>
        <input matInput type="text" [formControl]="searchQueryCtrl">
    </mat-form-field>
</form>