/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
.basic-container {
    padding: 30px;
  }
.centered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.nav-back{
  text-align: left !important;
  padding-left: 0px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.mat-expansion-panel {
  border-radius: 0px !important;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #fafafa;
}
/* start of table */
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.table-container {
  overflow: auto; 
}
td, th {
  max-width: 20vw;
  min-width: 20vw;
}
.column-size{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* end of table */