<div class="example-container">
    <button [routerLink]="'/dashboard/resource-owners'" [queryParams]="{state: 'none'}" mat-button
        style="text-align: left;padding-left: 0px;margin-bottom: 10px;">
        <mat-icon>arrow_back_ios</mat-icon> <span style="font-size: 16px;">Back</span>
    </button>
    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;margin-top: 20px;" *ngIf="state==='update:pwd'"
        (click)="validator.valid()&&resourceOwnerService.updateResourceOwnerPwd(convertToIResourceOwnerUpdatePwd())">Update
        Password</button>
    <button mat-raised-button color="primary" *ngIf="state==='update:authority'"
        style="margin-bottom: 20px;margin-top: 20px;"
        (click)="validator.valid()&&resourceOwnerService.updateResourceOwner(convertToResourceOwner())">Update</button>
    <button mat-raised-button color="warn" *ngIf="state==='update:authority'"
        (click)="validator.valid()&&resourceOwnerService.deleteResourceOwner(convertToResourceOwner())">Delete</button>
</div>