<div class="example-container">
    <app-back-button></app-back-button>
    <mat-horizontal-stepper #stepper>
        <ng-container>
            <mat-step>
                <ng-template matStepLabel>{{'PLEASE_SELECT_CATALOG'|translate}}</ng-template>
                <app-catalog-tree [catalogs]="catalogs&&catalogs.data" (leafNodeClicked)="loadAttributes($event)">
                </app-catalog-tree>
                <mat-slide-toggle style="margin-bottom: 12px;margin-top: 24px;" [formControl]="attrProdCtrl">
                    {{'ADD_PRODUCT_ATTRIBUTES' | translate}}
                </mat-slide-toggle>
                <div>
                    <mat-slide-toggle style="margin-bottom: 12px;margin-top: 24px;" [formControl]="attrSalesCtrl">
                        {{'ADD_SALES_ATTRIBUTES' | translate}}
                    </mat-slide-toggle>
                </div>
                <div>
                    <mat-slide-toggle style="margin-bottom: 12px;margin-top: 24px;" [formControl]="attrGeneralCtrl">
                        {{'ADD_GENERAL_ATTRIBUTES' | translate}}
                    </mat-slide-toggle>
                </div>
            </mat-step>
        </ng-container>
        <ng-container *ngIf="attrProdCtrl.value">
            <mat-step>
                <ng-template matStepLabel>{{'ADD_PRODUCT_ATTRIBUTES' | translate}}</ng-template>
                <ng-container *ngIf="attrList">
                    <lib-factory [formId]="attrFormId" [formInfo]="attrFormInfo"></lib-factory>
                </ng-container>
            </mat-step>
        </ng-container>
        <ng-container *ngIf="attrSalesCtrl.value">
            <mat-step>
                <ng-template matStepLabel>{{'ADD_SALES_ATTRIBUTES' | translate}}</ng-template>
                <ng-container *ngIf="attrList">
                    <lib-factory [formId]="attrSalesFormId" [formInfo]="attrSalesFormInfo"></lib-factory>
                </ng-container>
            </mat-step>
        </ng-container>
        <ng-container *ngIf="attrGeneralCtrl.value">
            <mat-step>
                <ng-template matStepLabel>{{'ADD_GENERAL_ATTRIBUTES' | translate}}</ng-template>
                <ng-container *ngIf="attrList">
                    <lib-factory [formId]="attrFormId" [formInfo]="attrFormInfo"></lib-factory>
                </ng-container>
            </mat-step>
        </ng-container>
        <mat-step>
            <ng-template matStepLabel>{{'ADD_PRODUCT_DETAIL' | translate}}</ng-template>
            <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
            <h3>{{'PRODUCT_IMAGE_URLS'|translate}}</h3>
            <lib-factory [formId]="imageFormId" [formInfo]="imageFormInfo"></lib-factory>
            <h3>{{'PRODUCT_OPTION(S)'|translate}}</h3>
            <lib-factory [formId]="optionFormId" [formInfo]="optionFormInfo"></lib-factory>
            <button mat-raised-button color="primary" *ngIf="state==='update'"
                style="margin-bottom: 20px;margin-top: 20px;width: 100%;"
                (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.update(convertToPayload())">{{'UPDATE'|translate}}</button>
            <button mat-raised-button color="warn" *ngIf="state==='update'" style="margin-bottom: 40px;width: 100%;"
                (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.delete(convertToPayload())">{{'DELETE'|translate}}</button>
            <button mat-raised-button color="primary" style="margin-top: 24px;width: 100%;margin-bottom: 24px;"
                (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.create(convertToPayload())"
                *ngIf="state=='create'">{{'CREATE'|translate}}</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>