<div class="example-container">
    <app-back-button></app-back-button>
    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <h3>{{'PRODUCT_IMAGE_URLS'|translate}}</h3>
    <lib-factory [formId]="imageFormId" [formInfo]="imageFormInfo"></lib-factory>
    <h3>{{'PRODUCT_OPTION(S)'|translate}}</h3>
    <lib-factory [formId]="optionFormId" [formInfo]="optionFormInfo"></lib-factory>
    <button mat-raised-button color="primary" *ngIf="state==='update'" style="margin-bottom: 20px;margin-top: 20px;"
        (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.update(convertToPayload())">{{'UPDATE'|translate}}</button>
    <button mat-raised-button color="warn" *ngIf="state==='update'" style="margin-bottom: 40px;"
        (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.delete(convertToPayload())">{{'DELETE'|translate}}</button>
    <button mat-raised-button color="primary" style="margin-top: 24px;"
        (click)="validator.valid()&&imageFormvalidator.valid()&&productSvc.create(convertToPayload())"
        *ngIf="state=='create'">{{'CREATE'|translate}}</button>
</div>